In [1]:
import requests
from bs4 import BeautifulSoup

# openpyxl은 파이썬에서 엑셀을 다루는 것을 쉽게 해주는 도구
from openpyxl import Workbook

# 네이버 파이낸셜 사이트
url = 'https://finance.naver.com/'

# url 요청
response = requests.get(url)
response
# 200이면 성공

In [ ]:
# 해당 url의 정보 모두 텍스트 형태로 가져옴
html = response.text 
html

In [ ]:
# HTML의 요소별로 파싱시켜줌
soup = BeautifulSoup(html, 'html.parser')
soup

In [4]:
# 인기검색종목의 테이블 안의 요소를 가져옴
# #container > div.aside > div > div.aside_area.aside_popular > table > tbody
tbody = soup.select_one('#container > div.aside > div.group_aside > div.aside_area.aside_popular > table > tbody')
print(tbody)

<tbody>
<tr class="down">
<th scope="row"><em>1.</em><a href="/item/main.naver?code=005930" onclick="clickcr(this, 'boa.list', '005930', '1', event);">삼성전자</a></th>
<td>60,500</td>
<td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 1,400 </span> </td>
</tr>
<tr class="down">
<th scope="row"><em>2.</em><a href="/item/main.naver?code=352820" onclick="clickcr(this, 'boa.list', '352820', '2', event);">하이브</a></th>
<td>148,000</td>
<td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 45,000 </span> </td>
</tr>
<tr class="down">
<th scope="row"><em>3.</em><a href="/item/main.naver?code=000660" onclick="clickcr(this, 'boa.list', '000660', '3', event);">SK하이닉스</a></th>
<td>97,100</td>
<td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 2,000 </span> </td>
</tr>
<tr class="down">
<th scope="row"><em>4.</em><a href="/item/main.naver?code=035420" onclick="clickcr(this, 'boa.list', '035420', '4', event);">NAVER</a></th>
<td>242,000</td>
<td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 11,000 </span> </td>
</tr>
<tr class="down">
<th scope="row"><em>5.</em><a href="/item/main.naver?code=035720" onclick="clickcr(this, 'boa.list', '035720', '5', event);">카카오</a></th>
<td>72,400</td>
<td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 4,200 </span> </td>
</tr>
</tbody>

In [5]:
# tr 요소 영역만을 선택 안에는 (th td가 포함되어 있다.)
trs = tbody.select('tr')
print(trs)

[<tr class="down">
 <th scope="row"><em>1.</em><a href="/item/main.naver?code=005930" onclick="clickcr(this, 'boa.list', '005930', '1', event);">삼성전자</a></th>
 <td>60,500</td>
 <td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 1,400 </span> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><em>2.</em><a href="/item/main.naver?code=352820" onclick="clickcr(this, 'boa.list', '352820', '2', event);">하이브</a></th>
 <td>148,000</td>
 <td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 45,000 </span> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><em>3.</em><a href="/item/main.naver?code=000660" onclick="clickcr(this, 'boa.list', '000660', '3', event);">SK하이닉스</a></th>
 <td>97,100</td>
 <td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 2,000 </span> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><em>4.</em><a href="/item/main.naver?code=035420" onclick="clickcr(this, 'boa.list', '035420', '4', event);">NAVER</a></th>
 <td>242,000</td>
 <td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 11,000 </span> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><em>5.</em><a href="/item/main.naver?code=035720" onclick="clickcr(this, 'boa.list', '035720', '5', event);">카카오</a></th>
 <td>72,400</td>
 <td> <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01"> 4,200 </span> </td>
 </tr>]

In [10]:
for tr in trs:
    print(tr.select_one('th > a').get_text())

삼성전자
하이브
SK하이닉스
NAVER
카카오

In [15]:
for tr in trs:
    result = tr.select_one('td').get_text()
    print(result.replace(",", ""))

60500
148000
97100
242000
72400

In [17]:
for tr in trs:
    #tr은 셀리니움 요소라서 class를 키로 항목값을 가져올 수 있음
    print(tr['class'][0])

down
down
down
down
down

In [27]:
for tr in trs:
    print(tr.select_one('td > span').get_text())

 1,700
 1,650
 150
 3,600
 4,500

In [18]:
datas = []
for tr in trs:
    name = tr.select_one('th > a').get_text()
    current_price = tr.select_one('td').get_text() 
    change_direction = tr['class'][0]
    change_price = tr.select_one('td > span').get_text()
    datas.append([name, current_price, change_direction, change_price])

# Workbook 엑셀 파일 객체
write_wb = Workbook()

# 엑셀 내 시트 만들기
write_ws = write_wb.create_sheet('결과')

# datas 요소를 행씩 append함 (행방향으로 데이터가 쌓임)
for data in datas:
    write_ws.append(data)

write_wb.save(r'./결과.xlsx')

In [ ]:
import requests
from bs4 import BeautifulSoup

# openpyxl은 파이썬에서 엑셀을 다루는 것을 쉽게 해주는 도구
from openpyxl import Workbook

# 네이버 파이낸셜 사이트
url = 'https://finance.naver.com/'

# url 요청
response = requests.get(url)
response
# 200이면 성공

In [ ]:
# 해당 url의 정보 모두 텍스트 형태로 가져옴
html = response.text 
html

In [ ]:
# HTML의 요소별로 파싱시켜줌
soup = BeautifulSoup(html, 'html.parser')
soup

In [53]:
tbody = soup.select_one('#_topItems1')
tbody

<tbody id="_topItems1">
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=252670" onclick="clickcr(this, 'spe.slist', '252670', '1', event);">KODEX 200선물인버스2X</a></th>
<td>3,075</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 115</td>
<td> <em class="up"> +3.89% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=102280" onclick="clickcr(this, 'spe.slist', '102280', '2', event);">쌍방울</a></th>
<td>835</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 103</td>
<td> <em class="up"> +14.07% </em> </td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=007460" onclick="clickcr(this, 'spe.slist', '007460', '3', event);">에이프로젠 MED</a></th>
<td>1,905</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 15</td>
<td> <em class="down"> -0.78% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=246690" onclick="clickcr(this, 'spe.slist', '246690', '4', event);">TS인베스트먼트</a></th>
<td>3,290</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 440</td>
<td> <em class="up"> +15.44% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=005860" onclick="clickcr(this, 'spe.slist', '005860', '5', event);">한일사료</a></th>
<td>9,930</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,130</td>
<td> <em class="up"> +12.84% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=251340" onclick="clickcr(this, 'spe.slist', '251340', '6', event);">KODEX 코스닥150선물인버스</a></th>
<td>5,030</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 110</td>
<td> <em class="up"> +2.24% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=066410" onclick="clickcr(this, 'spe.slist', '066410', '7', event);">버킷스튜디오</a></th>
<td>3,275</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 25</td>
<td> <em class="up"> +0.77% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=500054" onclick="clickcr(this, 'spe.slist', '500054', '8', event);">신한 인버스 2X 천연가스 선물 ETN</a></th>
<td>335</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 65</td>
<td> <em class="up"> +24.07% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=114800" onclick="clickcr(this, 'spe.slist', '114800', '9', event);">KODEX 인버스</a></th>
<td>4,820</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 95</td>
<td> <em class="up"> +2.01% </em> </td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=122630" onclick="clickcr(this, 'spe.slist', '122630', '10', event);">KODEX 레버리지</a></th>
<td>15,665</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 615</td>
<td> <em class="down"> -3.78% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=016600" onclick="clickcr(this, 'spe.slist', '016600', '11', event);">큐캐피탈</a></th>
<td>653</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 35</td>
<td> <em class="up"> +5.66% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=014200" onclick="clickcr(this, 'spe.slist', '014200', '12', event);">광림</a></th>
<td>2,195</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 190</td>
<td> <em class="up"> +9.48% </em> </td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=900110" onclick="clickcr(this, 'spe.slist', '900110', '13', event);">이스트아시아홀딩스</a></th>
<td>274</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 9</td>
<td> <em class="up"> +3.40% </em> </td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=005930" onclick="clickcr(this, 'spe.slist', '005930', '14', event);">삼성전자</a></th>
<td>60,500</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 1,400</td>
<td> <em class="down"> -2.26% </em> </td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=065420" onclick="clickcr(this, 'spe.slist', '065420', '15', event);">에스아이리소스</a></th>
<td>756</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 109</td>
<td> <em class="down"> -12.60% </em> </td>
</tr>
</tbody>

In [21]:
# tr 요소 영역만을 선택 안에는 (th td가 포함되어 있다.)
trs = tbody.select('tr')
trs

[<tr class="up">
 <th scope="row"><a href="/item/main.naver?code=252670" onclick="clickcr(this, 'spe.slist', '252670', '1', event);">KODEX 200선물인버스2X</a></th>
 <td>3,075</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 115</td>
 <td> <em class="up"> +3.89% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=102280" onclick="clickcr(this, 'spe.slist', '102280', '2', event);">쌍방울</a></th>
 <td>835</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 103</td>
 <td> <em class="up"> +14.07% </em> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><a href="/item/main.naver?code=007460" onclick="clickcr(this, 'spe.slist', '007460', '3', event);">에이프로젠 MED</a></th>
 <td>1,905</td>
 <td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 15</td>
 <td> <em class="down"> -0.78% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=246690" onclick="clickcr(this, 'spe.slist', '246690', '4', event);">TS인베스트먼트</a></th>
 <td>3,290</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 440</td>
 <td> <em class="up"> +15.44% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=005860" onclick="clickcr(this, 'spe.slist', '005860', '5', event);">한일사료</a></th>
 <td>9,930</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,130</td>
 <td> <em class="up"> +12.84% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=251340" onclick="clickcr(this, 'spe.slist', '251340', '6', event);">KODEX 코스닥150선물인버스</a></th>
 <td>5,030</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 110</td>
 <td> <em class="up"> +2.24% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=066410" onclick="clickcr(this, 'spe.slist', '066410', '7', event);">버킷스튜디오</a></th>
 <td>3,275</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 25</td>
 <td> <em class="up"> +0.77% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=500054" onclick="clickcr(this, 'spe.slist', '500054', '8', event);">신한 인버스 2X 천연가스 선물 ETN</a></th>
 <td>335</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 65</td>
 <td> <em class="up"> +24.07% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=114800" onclick="clickcr(this, 'spe.slist', '114800', '9', event);">KODEX 인버스</a></th>
 <td>4,820</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 95</td>
 <td> <em class="up"> +2.01% </em> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><a href="/item/main.naver?code=122630" onclick="clickcr(this, 'spe.slist', '122630', '10', event);">KODEX 레버리지</a></th>
 <td>15,665</td>
 <td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 615</td>
 <td> <em class="down"> -3.78% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=016600" onclick="clickcr(this, 'spe.slist', '016600', '11', event);">큐캐피탈</a></th>
 <td>653</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 35</td>
 <td> <em class="up"> +5.66% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=014200" onclick="clickcr(this, 'spe.slist', '014200', '12', event);">광림</a></th>
 <td>2,195</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 190</td>
 <td> <em class="up"> +9.48% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=900110" onclick="clickcr(this, 'spe.slist', '900110', '13', event);">이스트아시아홀딩스</a></th>
 <td>274</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 9</td>
 <td> <em class="up"> +3.40% </em> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><a href="/item/main.naver?code=005930" onclick="clickcr(this, 'spe.slist', '005930', '14', event);">삼성전자</a></th>
 <td>60,500</td>
 <td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 1,400</td>
 <td> <em class="down"> -2.26% </em> </td>
 </tr>,
 <tr class="down">
 <th scope="row"><a href="/item/main.naver?code=065420" onclick="clickcr(this, 'spe.slist', '065420', '15', event);">에스아이리소스</a></th>
 <td>756</td>
 <td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 109</td>
 <td> <em class="down"> -12.60% </em> </td>
 </tr>]

In [54]:
for tr in trs:
    print(tr.select_one('th > a').get_text())

KODEX 200선물인버스2X
쌍방울
에이프로젠 MED
TS인베스트먼트
한일사료
KODEX 코스닥150선물인버스
버킷스튜디오
신한 인버스 2X 천연가스 선물 ETN
KODEX 인버스
KODEX 레버리지
큐캐피탈
광림
이스트아시아홀딩스
삼성전자
에스아이리소스

In [55]:
for tr in trs:
    result = tr.select_one('td').get_text()
    print(result.replace(",", ""))

3075
835
1905
3290
9930
5030
3275
335
4820
15665
653
2195
274
60500
756

In [56]:
for tr in trs:
    #tr은 셀리니움 요소라서 class를 키로 항목값을 가져올 수 있음
    print(tr['class'][0])

up
up
down
up
up
up
up
up
up
down
up
up
up
down
down

In [62]:
for tr in trs:
    if tr.select('td')[1].get_text().split()[1] != None:
        print(tr.select('td')[1].get_text().split()[1])
    else:
        print(0)

115
103
15
440
1,130
110
25
65
95
615
35
190
9
1,400
109