In [2]:
3.14*10**2

314.0

In [1]:
3.14*10*10

314.0

In [3]:
import math

In [4]:
math.sin(40)

0.7451131604793488

In [5]:
"안녕하세요"

'안녕하세요'

In [6]:
print("결과값은",10,"입니다")

결과값은 10 입니다

In [7]:
"나의"+"고양잉"

'나의고양잉'

In [8]:
print("2+3=",2+3)

2+3= 5

In [9]:
x = 10000
y = 20000

In [10]:
print(x)

10000

In [11]:
print(sum)

<built-in function sum>

In [12]:
radius=10
area=3.14*radius*radius
print("반지름",radius,"인 원의 면적=",area)

반지름 10 인 원의 면적= 314.0

In [13]:
type(12.30)
type("hello")

str

In [14]:
type(12.30)

float

In [16]:
x=1000
print("초기값 x=",x)
x+=2;
print("x+=2후의 x=",x)
x-=2;
print("x-=2후의 x=",x)

초기값 x= 1000
x+=2후의 x= 1002
x-=2후의 x= 1000

In [17]:
x= 3.14
y= str(x)
print(y)
print(type(y))

3.14
<class 'str'>

In [18]:
price=12345
tax=price*0.075
tax=round(tax,2)
print(tax)

925.88

In [19]:
msg = "철수가 '안녕'이라고 말했씁니다."
print(msg)

철수가 '안녕'이라고 말했씁니다.

In [23]:
#따옴표 세개 달면 문단이다 (주석으로도 사용 가능)
a="""세개는 문단ㄷ이 
저장이 돼요안ㄴ영하세요 
김동영입니다"""
print(a)

세개는 문단ㄷ이
저장이 돼요안ㄴ영하세요
김동영입니다

In [24]:
print("dkdkajjkldjkfldjk
dksehlskdy??")

SyntaxError: ignored

In [29]:
print("fdafdafdafda\'dlfjgrpgkaus ehlskdy?")

fdafdafdafda'dlfjgrpgkaus ehlskdy?

In [35]:
#앞에서도 뒤에서 가능 앞은 0부터 뒤는 -1부터
s="hello world"
print(s[0])
print(s[-1])
print(s[0:2])

#lower_name = name.lower() 소문자로
#new_name = name.replace("parter","porter") 문자교체

h
d
he

In [38]:
name=input("이름을 입력하시오:")
print(name)

이름을 입력하시오:rlaehdud
rlaehdud

In [40]:
#input에서 받은건 str으로 인식
s1=int(input("첫 번쨰 정수를 입력하시오"))
print(s1)

첫 번쨰 정수를 입력하시오432432
432432

In [41]:
#변수와 문자열을 동시에 출력할때
x=100
y=200
print(f"{x}와{y}의 합={x+y}")

100와200의 합=300

In [42]:
#열칸을 먹고 소수점2개까지 f는 타입 뒤에 7.12는 세칸을 차지 그럼 앞에 7칸?
py=7.1234
print("테스트 출력 %10.2f"%py)

테스트 출력       7.12

In [ ]:
"""a=“안녕하세요”
a[3] (인덱싱)
a[0:2] (슬라이싱)
a[0:5:2] (스텝 )
a[-2] (인버스인덱싱)
a[:] (전체)"""

In [50]:

price = int(input("상품가격:"))
if price>20000:
  shipping_cost=0
else:
  shipping_cost=3000
print("배송비=",shipping_cost)

상품가격:3333333
배송비= 0

In [52]:
#문자열비교 s1="a" s2="h" s1<s2 -->true
#from math import sqrt 가져옴

x=int(input("첫 번째 수="))
y=int(input("두 번째 수="))
max_value=(x if x>y else y)
min_value=(y if x>y else x)
print("큰 수=",max_value,"작은 수=", min_value)

첫 번째 수=40
두 번째 수=50
큰 수= 50 작은 수= 40

In [61]:
a=int(input("숫자:"))
if a%2==0:
  print("짝수")
else:
  print("홀수")

숫자:2
짝수

In [64]:
price=int(input("가격을 입력하시오:"))
card = input("카드 종류를 이력하시오:")

if price >20000 and card =="python":
  print("배송료가 없습니다")
else:
  print("배솔료는 3000원 입니다.")

가격을 입력하시오:10000
카드 종류를 이력하시오:python
배솔료는 3000원 입니다.

In [66]:
num=int(input("정수를 입력하시오:"))
if num >0:
  print("양수입니다.")
elif num ==0:
  print("0입니다")
else:
  print("음수입니다")

정수를 입력하시오:-3
음수입니다

In [71]:
score = float(input("규모를 입력하시오:"))
if score>=2.0:
  print("2.0미만 지진계에 의해서만 탐지가능")
elif 2.1<=score:
  print("물건들이 흔들리거나 떨어집니다")
elif 4.1<=score:
  print("빈약한 건물에 큰 피해가 있습니다")
elif 7.1<=score:
  print("w지표면에 균열이 발생")
else:
  print("구조물 파과ㅣ")

규모를 입력하시오:3.0
2.0미만 지진계에 의해서만 탐지가능

In [81]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [83]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [84]:
for i in range(1,6,1):
  print(i,end=" ")

1 2 3 4 5

In [85]:
for i in range(10,0,-1):
  print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [86]:
sum=0
n=10
for i in range(1,n+1):
  sum=sum+i
  print("합=",sum)

합= 1
합= 3
합= 6
합= 10
합= 15
합= 21
합= 28
합= 36
합= 45
합= 55

In [88]:
for i in range(1,9):
  print ("9*",i,"=",9*i)

9* 1 = 9
9* 2 = 18
9* 3 = 27
9* 4 = 36
9* 5 = 45
9* 6 = 54
9* 7 = 63
9* 8 = 72

In [90]:
target=2000
money=1000
year=0
rate=0.07

while money <target:
  money = money+money*rate
  year=year+1
print(year,"년")

11 년

In [93]:
for i in range(5):
  for j in range(5):
    print("i",i,"j",j)

i 0 j 0
i 0 j 1
i 0 j 2
i 0 j 3
i 0 j 4
i 1 j 0
i 1 j 1
i 1 j 2
i 1 j 3
i 1 j 4
i 2 j 0
i 2 j 1
i 2 j 2
i 2 j 3
i 2 j 4
i 3 j 0
i 3 j 1
i 3 j 2
i 3 j 3
i 3 j 4
i 4 j 0
i 4 j 1
i 4 j 2
i 4 j 3
i 4 j 4

In [94]:
for y in range(5):
  for x in range(10):
    print("*",end=" ")
  print("")

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [95]:
adj=["small","medium","large"]
nonus=["apple","bananan","grape"]
for x in adj:
  for y in nonus:
    print(x,y)

small apple
small bananan
small grape
medium apple
medium bananan
medium grape
large apple
large bananan
large grape

In [100]:
for i in range(1,11):
  if i%3==0:
      continue
  print(i,end=" ")

1 2 4 5 7 8 10

In [1]:
def get_area(radius):
  area = 3.14*radius**2
  return area

result = get_area(3)
print("반지름이 3인 원의 면적=", result)

반지름이 3인 원의 면적= 28.26

In [ ]:
# 나중에 작성
der sub()
pass

In [3]:
#가변인수도 허용???? 
def test(*a):
  print(a)
test(10,20,30)

def test(*a):
   for i in a:

def varfunc(*a):
  print(a)

print("하나의 값으로 호출")
varfunc(10)

print("여러개의 값으로 호출")
varfunc(10,20,30)

(10, 20, 30)

In [8]:
#가변 인수 예제
#키,벨류 / 키,벨류 / 키,벨류
a={"하나":1,"둘":2, "셋":3}

print(a)
print(type(a))
print(a["하나"])
print(a.values())
print(a.keys())

{'하나': 1, '둘': 2, '셋': 3}
<class 'dict'>
1
dict_values([1, 2, 3])
dict_keys(['하나', '둘', '셋'])

In [ ]:
#언패킹
s=[1,2,3]
print(*s)